# ---- Oracle ----
ORACLE_PASSWORD=CambiaEsto123
ORACLE_DB=FREEPDB1

# ---- RabbitMQ ----
RABBITMQ_USER=agrotrack
RABBITMQ_PASSWORD=CambiaEsto123
RABBITMQ_ERLANG_COOKIE=cookie-compartida-del-cluster

# ---- Azure AD / Entra ID ----
AZURE_TENANT_ID=
AZURE_API_CLIENT_ID=
AZURE_ISSUER_URI=https://login.microsoftonline.com/${AZURE_TENANT_ID}/v2.0

# ---- Hosts (en local todo es localhost; en AWS son las IP privadas) ----
RABBITMQ_HOST=rabbitmq
KAFKA_BOOTSTRAP=kafka:9092
